*, *:before, *:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

html {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

.navbar {
  display: flex; }
  .navbar .nav-links {
    background-color: #eee;
    display: flex;
    flex: 1; }
    .navbar .nav-links a.nav-link {
      text-decoration: none;
      color: black;
      padding: 10px;
      display: block;
      flex: 1;
      text-align: center; }
    .navbar .nav-links a.active {
      background-color: #4CAF50;
      color: white; }
    .navbar .nav-links a:hover:not(.active) {
      background-color: #e1e1e1; }

ul {
  padding: 0px; }
  ul.sidebar {
    list-style-type: none;
    background-color: #eee;
    text-align: center;
    width: 15em; }
  ul li a {
    text-decoration: none; }
    ul li a.nav-link {
      text-decoration: none;
      color: black;
      padding: 10px;
      display: block;
      flex: 1;
      text-align: center; }
    ul li a.active {
      background-color: #4CAF50;
      color: white; }
    ul li a:hover:not(.active) {
      background-color: #e1e1e1; }

.main-content-title {
  padding: 10px; }

.topic-title {
  padding: 10px; }
  .topic-title:first-letter {
    text-transform: capitalize; }

.topics-content {
  display: flex; }

.main-content-columns {
  display: flex; }

.search-sidebar {
  width: 300px;
  padding: 10px; }
  .search-sidebar input[type=text] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eee; }

.gallery-content {
  flex: 1; }

.gallery-page {
  display: flex;
  flex-direction: column; }

.gallery-row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px; }

.thumb {
  box-sizing: content-box;
  width: 150px;
  height: 150px;
  background-color: #eee;
  border-right: solid white; }
